body {
  background-color: white;
}
      
h1 {
  text-align: center;
  padding-top: 100px;
{
      
.normal {
  font-size: 12px;
  color: black;
  background: white;
  padding-left: 15px;
}
      
a {
  color: black;
}
      
a:hover {
  color: skyblue;
  text-decoration: none;
}
      
.fade-out {
  opacity: 0;
  transition: none;
}
      
span {
  display: block;
}
      
.slides {
  display: none;
}
      
.center {
  text-align: center;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}
      
@-webkit-keyframes {
  from {opacity: .2;}
  to {opacity: 1;}
}
      
@keyframes fade {
  from {opacity: .2;}
  to {opacity: 1;}
}